.top-logo {
  height: 22px;
  aspect-ratio: 31/20;
}

.mc-h-nav {
  height: 72px;
  width: 100%;
  padding: 0px, 24px, 0px, 24px;
  background: #0b0121;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mc-b {
  border: 1px solid var(---c-outline);
}
.mc-bg {
  background: var(---c-color);
}
.mc-hero-bg {
  background: var(---c-color);
  background-image: url(../../assets/home-hero-bg.webp);
  width: 100%;
  height: 1201.81px;
  padding: 170px 20px 80px 20px;
  gap: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mc-hero-top h1 {
  /* Modern analytics for the modern world */
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  /* or 80px */
  text-align: center;
  letter-spacing: -0.03em;
  background: linear-gradient(
    145.55deg,
    #ececec 20.35%,
    rgba(236, 236, 236, 0) 128.73%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.mc-hero-top p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  color: rgba(236, 236, 236, 0.65);
}
