body {
  background: #0b0221;
  height: 100%;
}
.top-logo {
  height: 22px;
  aspect-ratio: 31/20;
}

.mc-h-nav {
  height: 72px;
  width: 100%;
  padding: 0px 24px 0px 24px;
  background: var(---mc-bg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mc-b {
  border: 1px solid var(---mc-outline);
}
.mc-bg {
  background: var(---mc-color);
}
.mc-hero-bg {
  background: var(---mc-bg);
  background-image: url(../../assets/home-hero-bg.webp);
  width: 100%;
  height: 1200px;
  padding: 170px 20px 80px 20px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mc-hero-feature {
  background: var(---mc-bg);
  width: 100%;
  padding: 170px 20px 80px 20px;
}

.mc-hero-top h1 {
  /* Modern analytics for the modern world */
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  /* or 80px */
  text-align: center;
  letter-spacing: -0.03em;
  background: linear-gradient(
    145.55deg,
    #ececec 20.35%,
    rgba(236, 236, 236, 0) 128.73%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.mc-hero-top p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  color: rgba(236, 236, 236, 0.65);
}

.mc-hero-ticker {
  width: 50%;
  overflow: hidden;
  box-sizing: content-box;
  max-width: 400px;
  height: 38px;
  border-radius: 62px;
  border: 1px;
  border: 1px solid #ffffff4d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.mc-hero-ticker .ticker {
  display: flex;
  white-space: nowrap;
  box-sizing: content-box;
  gap: 4px;
}

.mc-hero-img {
  max-width: 960px;
  height: 472px;
  border-radius: 24px;
  box-shadow: 0px -2px 40px 0px #bb9bff26, 0px -2px 10px 0px #e9dfff4d,
    0px 0.5px 0px 0px #ffffff80 inset;
  pointer-events: none;
  user-select: none;
  margin-top: 34px;
}
.mc-hero-brands {
  max-width: 960px;
  height: 24px;
  pointer-events: none;
  user-select: none;
  margin-top: 34px;
}

.mc-body-features {
  margin-top: 6rem;
  max-width: 960px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.mc-body-features-big {
  margin-top: 6rem;
  max-width: 960px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 422px;
  padding: 60px 0px;
  border-radius: 20px;
  gap: 30px;
  flex-wrap: wrap;
  box-shadow: 0px 0.5px 0px 0px #ffffff80 inset, 0px -2px 40px 0px #bb9bff26,
    0px -2px 10px 0px #e9dfff4d;
}
.mc-body-features-big2 {
  margin-top: 6rem;
  max-width: 960px;
  height: 422px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 60px;
  border-radius: 20px;
  gap: 16px;
  flex-direction: column;
  box-shadow: 0px 0.5px 0px 0px #ffffff80 inset, 0px -2px 40px 0px #bb9bff26,
    0px -2px 10px 0px #e9dfff4d;
}
.mc-body-features-big2 h1 {
  color: #ececec !important;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.mc-body-features-big .item,
.mc-body-features .item {
  max-width: 460px;
  min-width: 340px;
  width: 90%;
  height: 320px;
  padding: 30px;
  border-radius: 20px;
  gap: 16px;
  box-shadow: 0px 0.5px 0px 0px #ffffff80 inset, 0px -2px 40px 0px #bb9bff26,
    0px -2px 10px 0px #e9dfff4d;
  display: grid;
  gap: 12px;
}
.mc-body-features-big .item {
  box-shadow: unset;
}
.mc-body-features-big .item h1,
.mc-body-features .item h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
}
.mc-body-features-big .item p,
.mc-body-features .item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.mc-body-features-big .item a,
.mc-body-features .item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(---mc-outline);
  text-decoration: underline;
  cursor: pointer;
}
