.top-logo {
  height: 22px;
  aspect-ratio: 31/20;
}

.mc-h-nav {
  height: 72px;
  width: 100%;
  padding: 0px, 24px, 0px, 24px;
  background: #0b0121;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mc-b {
  border: 1px solid var(---c-outline);
}
.mc-bg {
  background: var(---c-color);
}
