/* root */
:root {
  ---c-outline: #ececec;
  ---c-color: #0b081c;
}

/* branding font  */
@font-face {
  font-family: "Fixel-bold";
  src: url("../../assets/FixelDisplay/FixelDisplay-Black.woff2") format("woff"),
    url("../../assets/FixelDisplay/FixelDisplay-Black.otf") format("opentype");
}

@font-face {
  font-family: "Fixel-regualar";
  src: url("../../assets/FixelDisplay/FixelDisplay-Regular.woff2")
      format("woff"),
    url("../../assets/FixelDisplay/FixelDisplay-Regular.otf") format("opentype");
}

/* reset */
body {
  background: #000;
  font-family: "Fixel-regualar";
}
* {
  /* border: 1px red solid; */
}
a {
  text-decoration: none;
}

/* layout */
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}

/* topography */
.gap-4 {
  gap: 4px;
}
.gap-24 {
  gap: 24px;
}
.m-4 {
  margin: 4px;
}
.m-auto {
  margin: auto;
}
.m-x-auto {
  margin: 0px auto;
}
.m-y-auto {
  margin: auto 0px;
}
.t-center {
  text-align: center;
}
.fs-18 {
  font-size: 18px;
  text-align: center;
}

.btn {
  width: Hug 173px;
  height: Hug 40px;
  padding: 8px 20px 8px 20px;
  border-radius: 50px;
  border: 1px;
  gap: 8px;
}
.bold {
  font-family: "Fixel-bold";
}
.pointed {
  cursor: pointer;
}
.all-pointed * {
  cursor: pointer;
}

/* colors */
.t-ececec {
  color: var(---c-outline);
}
.f-t-0B081C {
  color: var(---c-color) !important;
}
.t-0B081C {
  color: var(---c-color);
}

.all-t-ececec * {
  color: var(---c-outline);
}
