/* root */
:root {
  ---mc-outline: #ececec;
  ---mc-outline-lte: #ececec1a;
  ---mc-color: #0b081c;
  ---mc-bg: #0b0121;
  ---mc-font-gradient: -webkit-linear-gradient(
    45deg,
    #ececec 72.35%,
    rgba(236, 236, 236, 1) 28.73%
  );
}

/* branding font  */
@font-face {
  font-family: "Fixel-bold";
  src: url("../../assets/FixelDisplay/FixelDisplay-Black.woff2") format("woff"),
    url("../../assets/FixelDisplay/FixelDisplay-Black.otf") format("opentype");
}

@font-face {
  font-family: "Fixel-regualar";
  src: url("../../assets/FixelDisplay/FixelDisplay-Regular.woff2")
      format("woff"),
    url("../../assets/FixelDisplay/FixelDisplay-Regular.otf") format("opentype");
}

::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(---mc-bg) !important;
  outline: 1px solid var(---mc-bg) !important;
  border-radius: 14px !important;
}

::-webkit-scrollbar-track {
  background-color: var(---mc-bg);
}

/* reset */
body {
  background: #000;
  font-family: "Fixel-regualar";
}
* {
  /* border: 1px red solid; */
}
a {
  text-decoration: none;
  width: fit-content;
}

/* layout */
.flex {
  display: flex;
}
.flex-y {
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}

/* topography */
.gap-4 {
  gap: 4px;
}
.gap-24 {
  gap: 24px;
}
.m-4 {
  margin: 4px;
}

.m-auto {
  margin: auto;
}
.m-x-auto {
  margin: 0px auto;
}
.m-y-auto {
  margin: auto 0px;
}
.m-top-24 {
  margin-top: 24px;
}
.m-top-12r {
  margin-top: 12rem;
}
.t-center {
  text-align: center;
}
.fs-18 {
  font-size: 18px;
  text-align: center;
}

.btn,
.btn-anti {
  min-width: 173px;
  height: 36px;
  /* padding: 8px 20px 8px 20px; */
  border-radius: 99px;
  border: 1px;
  gap: 8px;
  text-align: center;
}
.hide-o-x {
  overflow-x: hidden;
}
.btn-anti {
  background: var(---mc-outline-lte);
  color: var(---mc-outline);
}
.bold {
  font-family: "Fixel-bold";
}
.pointed {
  cursor: pointer;
}
.all-pointed * {
  cursor: pointer;
}

/* colors */
.t-ececec {
  color: var(---mc-outline);
}
.f-t-0B081C {
  color: var(---mc-color) !important;
}
.t-0B081C {
  color: var(---mc-color);
}

.all-t-ececec * {
  color: var(---mc-outline);
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: var(---mc-bg);
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
